<script src="js/script.js" crossorigin="anonymous"></script>
<script data-main="js/config" src="resources/require.min.js"></script> 
<script>
require(['config'],function(){
  requirejs(['react','react-dom','app'],function(React,ReactDOM,App){
    React.render(
      <App/>,
      document.getElementById('app-root')
    );
  });
});
</script>
</body>
</html>